<div class='bg-gray-300'>
    <!-- https://daisyui.com/components/toggle/ -->
    <div class="flex flex-col">
        <div class="form-control w-52">
            <label class="label cursor-pointer">
                <span class="label-text">Option 1</span>
                <input type="checkbox" class="toggle toggle-primary" checked="checked" />
            </label>
        </div>
        <div class="form-control w-52">
            <label class="label cursor-pointer">
                <span class="label-text">Option 2</span>
                <input type="checkbox" class="toggle toggle-secondary" checked="checked" />
            </label>
        </div>
        <div class="form-control w-52">
            <label class="label cursor-pointer">
                <span class="label-text">Option 3</span>
                <input type="checkbox" class="toggle toggle-accent" checked="checked" />
            </label>
        </div>
    </div>
</div>