<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{{url_for('static',filename='dist/css/output.css')}}">

    <title>{% block title %}{{ app_info.name }}{% endblock title %}</title>
</head>
<body>
    <div data-theme='light' class='h-screen w-screen'>
        <div class='grid grid-rows-6 grid-cols-12 gap-2 h-screen'>
            <header class='row-auto col-span-12'>
                {% block header %}
                {% endblock header %}
            </header>

            <nav class='col-span-2 row-span-4'>
                {% block leftcol %}
                {% endblock leftcol %}

                <!-- Navigation -->
            </nav>

            <main class='col-span-7 row-span-4 overflow-scroll'>
                {% block main %}
                {% endblock main %}

                <!-- Main content -->
            </main>

            <aside class='col-span-3 row-span-4'>
                {% block rightcol %}
                {% endblock rightcol %}

                <!-- Sidebar / Ads -->
            </aside>

            <footer class='row-auto col-span-12'>
                {% block footer %}
                {% endblock footer %}
                <!-- Footer content -->
            </footer>
        </div>
    </div>
</body>
</html>