{% extends "base.html" %}

{% block header %}
    {% include '_header.html' %}
{% endblock header %}

{% block leftcol %}
    <div class='bg-gray-200'>
        {% include '_nav.html' %}
    </div>
{% endblock leftcol %}

{% block rightcol %}
    {% include '_options.html' %}
{% endblock rightcol %}

{% block footer %}
    {% include '_footer.html' %}
{% endblock footer %}

{% block main %}
    <main class='bg-gray-100'>
        <div>Here are some things included in rendering these views:</div>
        <ul>
            <li><a class='link link-primary' target='_blank' href='https://jinja.palletsprojects.com/en/3.1.x/'>Jinja</a></li>
            <li><a class='link link-neutral' target='_blank' href='https://tailwindcss.com/'>TailwindCSS</a></li>
            <li><a class='link link-secondary' target='_blank' href='https://daisyui.com/components'>Daisy UI Components</a></li>
        </ul>

        <p class='text-accent-content text-2xl'>Your layout should strive to use as much bacon as possible:</p>
        <p>
        Bacon ipsum dolor amet tri-tip strip steak tongue buffalo. Porchetta hamburger short loin flank ham hock pig strip steak biltong, turkey kevin chicken picanha beef pork chop fatback. Salami prosciutto andouille doner, t-bone bacon pork belly tongue pancetta landjaeger. Short ribs bresaola porchetta landjaeger cow kevin rump tenderloin meatloaf ball tip burgdoggen. Cow picanha short loin, pork loin bacon pig cupim tongue ham brisket venison bresaola short ribs.

        Boudin porchetta cow beef ribeye hamburger shoulder alcatra short ribs spare ribs. Ball tip tail beef burgdoggen tri-tip. Ground round cupim swine meatloaf chuck short ribs burgdoggen. Meatball tri-tip bacon ground round. Tri-tip strip steak jowl, corned beef chicken t-bone ham pork sirloin kevin rump. Venison turkey shank beef capicola t-bone pastrami ham cupim cow sirloin pig doner kielbasa strip steak.

        Chislic pastrami alcatra, pork t-bone andouille burgdoggen sausage turkey filet mignon picanha. Andouille ribeye tongue shank pork chop beef. Frankfurter jerky tail, tenderloin short loin t-bone pork belly prosciutto fatback tri-tip. Drumstick pork belly kevin boudin.

        Fatback short ribs sausage shoulder prosciutto jerky pastrami pork loin drumstick pancetta. Tenderloin prosciutto shankle, bacon chislic t-bone burgdoggen pastrami cow pork chop spare ribs. Capicola turkey short loin, corned beef filet mignon frankfurter tail t-bone salami. Frankfurter bresaola biltong venison pig shankle hamburger turkey turducken chislic short loin swine tri-tip. Cow bacon shankle frankfurter sirloin, pancetta bresaola ribeye turducken pork chop ball tip buffalo shank turkey.

        Prosciutto sausage burgdoggen short ribs, tri-tip ground round cow tail sirloin. Biltong kevin meatloaf leberkas buffalo spare ribs doner ground round. Bresaola shankle cow pork. Kielbasa tail cupim rump shankle. Sausage spare ribs flank cupim leberkas bacon.

        Burgdoggen turkey pig chuck. Boudin alcatra capicola, tri-tip sirloin swine beef andouille salami sausage shankle rump porchetta. Drumstick ball tip salami capicola prosciutto meatball hamburger. Filet mignon prosciutto pork venison picanha. Landjaeger alcatra turducken jowl, prosciutto short loin kevin porchetta swine t-bone tenderloin biltong. Tri-tip spare ribs short loin, drumstick t-bone ribeye jerky.
        </p>
    </main>

{% endblock main %}