{% extends "base.html" %}

{% block header %}
    {% include '_header.html' %}
    <script type='application/javascript'>
        const listen = () => {

            const eventSource = new FetchEventSource(`/sub/{{id}}`);
            eventSource.addEventListener('open', () => console.log('SSE Open'));
            eventSource.addEventListener('error', (err) => console.log('SSE Error', err));
            eventSource.addEventListener('message', (e) => {
                let data = JSON.parse(e.data)
                if(!data.isValid) {
                    window.location = '{{ url_for_workflow(id)}}';
                    return
                }
                let totalAmountCents = document.querySelector('.total-amount-cents')
                let transactionStatus = document.querySelector('.transaction-status')
                let transactionId = document.querySelector('.transaction-id')
                let tipForm = document.querySelector('.tip-form')
                let tipButton = document.querySelector('.tip-form button')
                let failure = document.querySelector('.failure')
                let alertError = document.querySelector('.alert-error')

                totalAmountCents.innerHTML = `$${parseInt(data.totalAmountCents, 10)/100}`
                if(data.isTransactionCompleted) {
                    transactionStatus.innerHTML = `completed`
                    transactionStatus.classList.add('badge-accent')
                } else if (data.failure) {
                    transactionStatus.innerHTML = 'failed'
                    failure.innerHTML = data.failure
                    alertError.classList.remove('hidden')
                    transactionStatus.classList.add('badge-error')
                }
                if(data.transaction && data.transaction.transactionId) {
                    transactionId.innerHTML = `${data.transaction.transactionId}`
                }
                if(data.isTippable){
                    tipForm.removeAttribute('disabled')
                    tipForm.classList.remove('hidden')
                } else {
                    tipForm.setAttribute('disabled','disabled')
                    tipForm.classList.add('hidden')
                }

                console.log('data', data)
                // document.querySelector('#progress').setAttribute('value', data.progressPercentage)
                // let radial = document.querySelector('#radial-progress')
                // radial.setAttribute('style','--value:' + data.progressPercentage+';')
                // radial.innerHTML = `${data.progressPercentage}%`
                console.log('SSE Data', e.data)
            });
        }
        document.addEventListener("DOMContentLoaded", listen);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/fetch-event-source@1.0.0-alpha.2/index.min.js"></script>

{% endblock header %}

{% block main %}

<div class="flex flex-col p-4 rounded-md items-center border border-primary">

    <header class='text-2xl flex-auto w-full flex'>
        <h2 class='text-center w-full flex-auto'>
            <span>Payment Details</span>

        </h2>
    </header>
    <div class='grid grid-cols-2 gap-8 gap-y-4 m-12'>
        <span class='text-right italic'>Location</span>
        <a href='{{url_for_workflow(id)}}' class='link link-accent' target='_blank'>{{id}}</a>
        <span class='text-right  italic'>Status</span>
        <span class='transaction-status badge badge-primary'>pending</span>
        <span class='text-right  italic'>Amount</span>
        <span class='total-amount-cents'></span>
        <span class='text-right  italic'>Transaction ID</span>
        <span class='transaction-id'></span>
    </div>
    <div role="alert" class="alert alert-error hidden">
        <span class='failure'></span>
    </div>

<!--    <div class='text-2xl m-4 total-amount-cents'></div>-->
<!--    <div class="transaction-status m-4 badge badge-primary">pending</div>-->
<!--    <div class='text-2xl transaction-id'></div>-->

    <!--    <div class='flex-auto'>-->
<!--        <div id='radial-progress' class="radial-progress" style="&#45;&#45;value:0;" role="progressbar">0%</div>-->
<!--        <progress id='progress' class="progress progress-primary w-56" value="0" max="100"></progress>-->
<!--    </div>-->



</div>

{% endblock main %}

{% block leftcol %}
    {% include '_nav.html' %}
{% endblock leftcol %}

{% block rightcol %}
<form action='/tips/{{id}}' method='post' class="tip-form hidden border border-secondary p-4 rounded-md card-normal">
    <fieldset>
        <input type='hidden' name='_METHOD' value='PUT'/>
        <header class='text-2xl flex-auto w-full flex items-center'>
            <h3 class='text-center w-full'>Leave A Tip</h3>
        </header>
        <div class='form-control'>
            <label for="tip-amount" class="label w-full max-w-xs">
                <span class='label-text'>Tip Amount</span>
            </label>
            <div class='input input-bordered flex items-center gap-2'>
                <span>$</span>
                <input
                        id="tip-amount"
                        type="number"
                        name='tip_amount'
                        class="w-full max-x-xs"
                        required/>
            </div>
        </div>
        <button class='btn btn-primary'>Submit</button>
    </fieldset>
</form>
{% endblock rightcol %}

