{% extends "base.html" %}

{% block header %}
    {% include '_header.html' %}
    <script type='application/javascript'>
        const listen = () => {

            const eventSource = new FetchEventSource(`/sub/{{id}}`);
            eventSource.addEventListener('open', () => console.log('SSE Open'));
            eventSource.addEventListener('error', (err) => console.log('SSE Error', err));
            eventSource.addEventListener('message', (e) => {
                let data = JSON.parse(e.data)
                if(!data.isValid) {
                    window.location = '{{ url_for_workflow(id)}}';
                    return
                }
                let totalAmountCents = document.querySelector('.total-amount-cents')
                let transactionStatus = document.querySelector('.transaction-status')
                let transactionId = document.querySelector('.transaction-id')
                let tipButton = document.querySelector('.tip-form button')
                let failure = document.querySelector('.failure')
                let alertError = document.querySelector('.alert-error')

                totalAmountCents.innerHTML = `$${data.totalAmountCents}`
                if(data.isTransactionCompleted) {
                    transactionStatus.innerHTML = `completed`
                    transactionStatus.classList.add('badge-accent')
                } else if (data.failure) {
                    transactionStatus.innerHTML = 'failed'
                    failure.innerHTML = data.failure
                    alertError.classList.remove('hidden')
                    transactionStatus.classList.add('badge-error')
                }
                if(data.transaction && data.transaction.transactionId) {
                    transactionId.innerHTML = `Transaction ID: ${data.transaction.transactionId}`
                }
                if(data.isTippable){
                    tipButton.removeAttribute('disabled')
                } else {
                    tipButton.setAttribute('disabled','disabled')
                }

                console.log('data', data)
                // document.querySelector('#progress').setAttribute('value', data.progressPercentage)
                // let radial = document.querySelector('#radial-progress')
                // radial.setAttribute('style','--value:' + data.progressPercentage+';')
                // radial.innerHTML = `${data.progressPercentage}%`
                console.log('SSE Data', e.data)
            });
        }
        document.addEventListener("DOMContentLoaded", listen);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/fetch-event-source@1.0.0-alpha.2/index.min.js"></script>

{% endblock header %}

{% block main %}

<div class="flex flex-col  border border-gray-200 p-4 rounded-md items-center">
    <header class='text-2xl flex-auto w-full flex items-center max-h-4 p-4'>
        <h2 class='text-center w-full'>
            <span>Payment:</span>
            <a href='{{url_for_workflow(id)}}' class='link link-primary' target='_blank'>{{id}}</a>
        </h2>
    </header>
    <div class='text-2xl m-4 total-amount-cents'></div>
    <div class="transaction-status m-4 badge badge-primary">pending</div>
    <div role="alert" class="alert alert-error hidden">
        <span class='failure'></span>
    </div>
    <div class='text-2xl transaction-id'></div>

    <!--    <div class='flex-auto'>-->
<!--        <div id='radial-progress' class="radial-progress" style="&#45;&#45;value:0;" role="progressbar">0%</div>-->
<!--        <progress id='progress' class="progress progress-primary w-56" value="0" max="100"></progress>-->
<!--    </div>-->
    <form action='/tips/{{id}}' method='post'  class='tip-form flex-auto border border-gray-200 p-4 rounded-md">
        <input type='hidden' name='_METHOD' value='PUT'/>
        <header class='text-2xl flex-auto w-full flex items-center'>
            <h3 class='text-center w-full'>Leave A Tip</h3>
        </header>
        <div class='form-control'>
            <label for="tip-amount" class="label w-full max-w-xs">
                <span class='label-text'>Tip Amount</span>
            </label>
            <div class='input input-bordered flex items-center gap-2'>
                <span>$</span>
                <input
                        id="tip-amount"
                        type="number"
                        name='tip_amount'
                        class="w-full max-x-xs"
                        required/>
            </div>
        </div>
        <button disabled class='btn btn-primary'>Submit</button>
    </form>


</div>

{% endblock main %}

{% block leftcol %}
    {% include '_nav.html' %}
{% endblock leftcol %}

